version: '3'
services:
  auto-bl3:
    build: .
    command: ["go", "run", "cmd/main.go", "-e", "${BL3_EMAIL}", "-p", "${BL3_PASSWORD}"]
    volumes:
      - codes:/root/.config/bl3-auto-vip
volumes:
  codes: